<div class="d-flex flex-column justify-content-center">
  <div class="top-visual text-center">
    <img src=<%= asset_path("top2.jpg") %>>
    <div class="top-message">
      <span>MyHyles</span>
      <p>
        親、兄弟、友達、先生、上司、部下、ライバル、恋人...<br>
        みんなあなたのHyle(ヒュレー)です
      </p>
    </div>
  </div>
  <div class="top-message wrapper">
    <h3>hh</h3>
  </div>
</div>
