<!-- recieves f -->

<div class="field">
  <%= f.label :password, "新しいパスワード(6字以上)" %><br />
  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
</div>
