<h2>メインページ</h2>
<div class="row">
  <div class="sidebar col-md-3 background">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="main-page col-md-8">
    <div class="background">
      <% unless current_user.has_done %>
        <div class="row link-relationship justify-content-center">
          <h4>今日の人間関係を記録しましょう！</h4>
          <%= link_to "関係の記入画面に移動する", new_users_daily_relationship_path,
           class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="background">
      <h3>誕生日が近いヒュレー</h3>
      <h4><%= current_user.notice_before %>日以内に誕生日！</h4>
      <div class="birthday-hyle-index">
        <%= render 'hyles/birthday_hyle_index', hyles:@birthday_hyles %>
      </div>
    </div>
    <div class="background">
      <h3>あなたに最も近いヒュレー</h3>
      <h4>第1位!</h4>
      <h4>第2位!</h4>
      <h4>第3位!</h4>
    </div>
  </div>
</div>
