<div class="row">
  <div class="sidebar background col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="hyle-index background col-md-8">
    <h2><%= @title %></h2>
    <% @hyles.each do |hyle| %>
      <div class="hyle-box col">
        <%= render 'hyle_box', hyle: hyle %>
      </div>
    <% end %>
  </div>
</div>
