<div class="new-hyle">
  <div class="hyle-info-form background" id="hyle_new">
    <%= render 'hyle_new', hyle:@hyle %>
  </div>
  <div class="add-things row my-5">
    <div class="background col-md-5">
      <h4>新しいカテゴリーを追加する</h4>
      <%= render 'categories/category_new_form', category: @category, hyle:@hyle %>
    </div>
    <div class="background col-md-5">
      <h4>新しいタグを追加する</h4>
      <%= render 'categories/tag_new_form' %>
    </div>
  </div>
</div>
