<!-- recieves memories -->

<div class="row flex-column">
  <% memories.each do |memory| %>
    <div class="memory-box mt-3 col d-flex">
      <%= render 'memories/memory_box', memory:memory %>
    </div>
  <% end %>
</div>
