<!-- recieves memories -->

<div class="row flex-column">
  <% memories.each do |memory| %>
    <div class="memory-box mt-3 col d-flex align-items-center">
      <%= render 'memories/memory_box', memory:memory %>
    </div>
  <% end %>
  <div class="text-center page">
    <%= will_paginate memories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </div>
</div>
