/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

*{
  box-sizing: border-box;
}
/* フォント */
h2, h3, h4, p, a, td, th, label{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ角ゴシック','Hiragino Sans';
}
a:link{
  text-decoration: none;
}
th, .designed-label{
  font-size: 1.2em;
  color: #3333FF;
}
td{
  font-size: 1em;
}
h2{
  font-size:2em;
  color: navy;
}
h3{
  font-size:1.7em;
  color: blue;
}
h4{
  font-size:1.3em;
  color: blue;
}
h5{
  font-size:1.3em;
  color: blue;
}
.relationship-percentage{
  @media (max-width: 550px){display:none}
  h5{@media (max-width: 875px) {font-size:0.8em}}
}
.message p{
  color:#2C7CFF;
}
/* セレクト */
select{
  padding-left: 0.5em;
  text-align: center;
  -webkit-appearance: none;
  background-image: image-url("select-arrow.png");
  background-repeat: no-repeat;
  background-size: 1.8em;
  background-position: right 0 center;
  background-color: white;
  height: 2em;
  option{
    color:red;
  }
}
#memory_date_1i, #hyle_birthday_1i, #user_birthday_1i{
  width:4em;
}
#memory_date_2i, #memory_date_3i, #hyle_birthday_2i, #hyle_birthday_3i{
  width:3em;
}
#user_birthday_2i, #user_birthday_3i{
  width:3em;
}
/* 画像 */
img{
  height: auto;
  @media (max-width: 600px) {
    max-width: 100%;
  }
}
.img-80{
  max-height: 80px;
  min-width: 80px;
}
/* 背景 */
.background{
  background-color:#99FFFF;
  border-radius: 15px;
  margin: 2em auto;
  padding: 1em;
}
/* フォーム */
.margin-form label{
  margin-top:1.5em;
  font-size: 1em;
  color: #3333FF;
}
.form-control{
  max-width: 20em;
  margin:0 auto;
}
.devise-links{
  float: right;
}
/* フラッシュ */
.flash{
  text-indent: 1em;
  line-height: 2em;
  color: #555;
  .flash-success{
    min-height: 2em;
    background-color: #99FF99;
  }
  .flash-danger{
    min-height: 2em;
    background-color: #FF99FF;
  }
  .danger, .alert{
    margin-bottom:0;
    min-height: 2em;
    background-color: #FF99FF;
    h3, h2{color:#555}
    ul{margin-bottom:0;}
  }
}
/* 並べ替え */
.sort-selection button{
  min-width:120px;
  height:28px;
  color:white;
  line-height:10px;
}
/* ボタン */
.btn-primary{
  margin: 2em auto;
  display: block;
}
/* ヘッダー */
header{
  height:60px;
  background-color: #33CCFF;
  #navbarSupportedContent ul{
    @media (max-width: 991px) {
      padding: 0 20px;
      position: fixed;
      top:3em;
      right:2em;
      background-color:#AAFFFF;
      border-radius: 5px;
    }
  }
  .dropdown-menu{
    background-color:#88FFFF;
    border: none;
    margin: 0.125rem -2em 0em;
    .dropdown-item{
      color: blue;
      &:hover{
        background-color:#55FFFF;
      }
    }
  }
  .nav-item{margin:0.5em 1em;}
}
/* ページ */
.page ul{
  margin: 1em auto;
}
/* ボディ */
body .container-fluid{
  padding: 3em 1em;
  min-height: 90vh;
  background-color:#CCFFFF;
  .row{
    margin:0 4%;
  }
}
/* アバウト */
.image img{
  width:100%;
  height:auto;
}
/* サイドバー */
.sidebar{height:fit-content}
/* タグ、カテゴリーラベル */
.label{
  margin: 0.3em;
  padding: 0 0.5em;
  display:inline-block;
  color: white;
  border-radius: 5px;
  &:hover{
    color: #AAA;
  }
}
.tag-label{
  padding: 0.45em;
  display:inline-block;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  background-color: green;
}
/* ヒュレーボックス */
.hyle-box{
  display:flex;
  align-items: center;
  margin: 0.5em auto;
  background-color: #EEE;
  border:1px solid #AAA;
}
.tags{
  display: flex;
  @media (max-width: 600px) {
    display: none;
  }
}
/* 思い出ボックス */
.title-date p{
  @media (max-width: 320px){
    display: none;
  }
}
/* show */
.show-info table{
  th{min-width: 7em}
  tr{
    display:block;
    margin: 2em 0;
  }
  td{text-align:left}
}
/* フッター */
footer{
background-color: #33CCFF;
}
