/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* フォント */
h2, h3, h4, a, td, th, label{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ角ゴシック','Hiragino Sans';
}
h2{
  font-size:2em;

}
h3{font-size:1.7em}
h4{font-size:1.3em}

/* ヘッダー */
header{
  height:60px;
  background-color: #33CCFF;
}
body .container-fluid{
  min-height: 90vh;
  background-color:#CCFFFF;
  .row{
    margin:0 4%;
  }
}

/* サイドバー */
.sidebar{
  background-color: #33CCFF;
  border: 3px solid #1155AA;
}
/* タグリスト */
.tag-index{
  display:flex;
  flex-wrap: wrap;
  .tag-label{
    height:1.5em;
    width: inherit;
    background-color: blue;
    color: white;
    &:hover{
      color: red;
    }
  }
}

/* カテゴリーリスト */
.category-index{
  display:flex;
  flex-wrap: wrap;
  .category-label{
    height:1.5em;
    width: inherit;
    background-color: green;
    color: white;
    &:hover{
      color: red;
    }
  }
}

footer{
  z-index: 10;
  background-color: green;
}
