<!-- recieves category -->

<%= link_to categorized_users_hyle_path(category), style:"text-decoration:none;" do %>
  <div class="label" style="background-color:#A00;">
    <span><%= category.name %></span>
  </div>
<% end %>
