<!-- recieves category -->

<%= link_to categorized_users_hyle_path(category), style:"text-decoration:none;" do %>
  <div class="category-label">
    <span><%= category.name %></span>
  </div>
<% end %>
