

<% current_user.tag_list.each do |tag| %>
    <div class="tag-edit m-2 d-flex">
      <div class="mx-1">
        <span><%= link_to tag, tagged_users_hyle_path(tag), class:"label", style:"white-space:nowrap; background-color:green;" %></span>
      </div>
      <div class="mx-1">
        <%= button_to "削除", delete_tag_users_path(tag),
          method: :patch, class:"btn btn-danger", id:"delete-#{tag}" %>
      </div>
    </div>
<% end %>
