<!-- recieves tag -->

<%= link_to tagged_users_hyle_path(tag), style:"text-decoration:none;" do %>
  <div class="label" style="background-color:green;">
    <span><%= tag %></span>
  </div>
<% end %>
