<%# if :notice %>
    <p class="notice"><%= notice %></p>
<%# else %>
    <p class="alert"><%= alert %></p>
<%# end %>

<% if flash.any? %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value.html_safe, class: "#{key}") %>
    <% end %>
<% end %>
