<header>
    <div class="header-left">
        <div class="logo">
        </div>
    </div>
    <div class="header-right">
        <% if user_signed_in? %>

        <% else %>

        <% end %>
    </div>
</header>
